<div class="home_title">This is the home page for the heroku pdf test</div>
<br>

<%= link_to "PDF - html page", pdf_pages_show_path %>
<br>
<%= link_to "PDF - new tab", pdf_pages_show_path(format: 'pdf'), target: "_blank" %>